[1:45 pm, 04/10/2024] so: /* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* FINE RESET */

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.5rem;
  color: #393d41;
  line-height: 2.3rem;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

header {
  background-color: black;
  text-align: left;
  padding: 15px;
}

header img {
  width: 160px;
  padding-left: 25px;
  vertical-align: middle;
}

main {
  background-image: url(../assets/images/banner.jpg);
  padding: 50px 20px;
  text-align: center;
  background-size: cover;
  background-position: center;
  max-height: 100vh;
  margin-bottom: 40px;
}
.hero h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #25a2c3;
  text-align: center;
  font-size: 2em;
  margin-bottom: 0px;
  line-height: 0.9em;
}

main :not(background-image, background-color, footer) {
  margin-left: 25%;
  margin-right: 25%;
}

.hero button {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  background-color: #f04c2f;
  color: whitesmoke;
  padding: 15px 30px;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 0px;
}

.section {
  margin-left: 25px;
  margin-right: 25px;
  text-align: left;
}

.fotosezione {
  display: inline-block;
  margin-bottom: 20px;
}

.imglaptop {
  width: 290px;
  height: 290px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 15px;
  margin-top: 40px;
  padding-bottom: 40px;
}
.testolaptop {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  line-height: 18px;
  margin-top: 30px;
}

.sezione h4 {
  font-size: 0.8em;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
  color: #25a2c3;
  margin-bottom: 0;
}

.sezione p {
  font-size: 0.8rem;
  text-align: left;
  margin-top: 1;
}
.garantisce {
  background-color: #e22d0e;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 20px;
  color: whitesmoke;
}
.articoli {
    padding-top: 60px;
    max-width: 1000px;
    margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.articolo {
    
    display: inline-block;
    width: 28%;
    margin: 15px;
    vertical-align: top;
    border: solid 1px #dee1e3;
    padding: 0px;
    box-sizing: border-box;
    border-top: none;
    /* border-left: none;
    border-right: none */
    min-height: 400px;
    padding-bottom: 60px;
}

.articolo img {
 width: 100%;
 height: auto;
 margin-bottom: 15px;
}

.articolo h4 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
  color: #25a2c3;
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 10px;
}

.articoli p {
  font-size: 1rem;
  line-height: 1.5em;

}

.articolo div {
    padding: 10px;
    
}
footer {
    margin: 0px;
    margin-top: 60px;
    background-color: #2ca8cc;
    color: #c8e7f0;
    padding-bottom: 60px;
    width: 100%;
  }
  
  footer h2 {
    color: white;
    font-weight: bold;
    padding-top: 40px;
    font-size: 1.6em;
    padding-bottom: 25px;
    margin-bottom: 0;
  }
  
  footer a {
    color: #c8e7f0;
  }
  
  footer p {
    font-size: 1rem;
    margin: 0;
  }
  
  footer hr {
    margin-left: 30%; 
    margin-right: 30%; 
    fill: #c8e7f0;
  }
  
  body footer {
    margin: 0;
  }
  
